@charset "UTF-8";

@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3ede8;
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 100;
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(5px);
}
header h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}
header h1 em {
    display: block;
    font-size: 10px;
    color: #8a8a8a;
}

nav {}
nav ul {
    display: flex;
}
nav ul li {}
nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
}

/* contents */
#contents {
    padding: 20px;
}

/* section1 */
#section1 {
    height: 100vh;
    padding-top: 20vh;
}
#section1 .about_title {
    margin-bottom: 20px;
}
#section1 .about_title .split {
    font-size: 8vw;
    line-height: 0.83;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 1vw;
}

#section1 .about_lines {}
#section1 .about_lines>div {
    width: 100%;
    background-color: #000;
    margin-bottom: 10px;
}
#section1 .about_lines .line1 {
    height: 1px;
}
#section1 .about_lines .line2 {
    height: 3px;
}
#section1 .about_lines .line3 {
    height: 6px;
}
#section1 .about_lines .line4 {
    height: 9px;
}
#section1 .about_lines .line5 {
    height: 12px;
}
#section1 .about_lines .line6 {
    height: 15px;
}
#section1 .about_lines .line7 {
    height: 18px;
}
#section1 .about_lines .line8 {
    height: 21px;
}

#section1 .about_intro {
    position: relative;
    background-color: #cbc0b3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vw 0;
    overflow: hidden;
}
#section1 .about_intro .text {
    position: relative;
    z-index: 100;
    pointer-events: none;
}
#section1 .about_intro .text div {
    text-align: center;
    font-size: 3.2vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    color: #5f5953;
}
#section1 .about_intro .d3d {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 40vw;
    max-width: 1000px;
    max-height: 600px;
}
#section1 .about_intro .d3d iframe {
    width: 100%;
    height: 100%;
}
#section1 .about_intro .d3d .cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 50px;
    color: #cbc0b3;
}


/* section2 */
#section2 {
    margin-top: 15vw;
}
#section2 .intro_wrap {
    display: flex;
    justify-content: space-between;
}
#section2 .intro_wrap .intro_title {
    position: sticky;
    top: 100px;
    left: 0;
    width: 45%;
    height: 3.5vw;
    font-size: 3vw;
    line-height: 1;
    text-transform: uppercase;
    color: #2b2b2b;
    border-bottom: 1px solid #5f5953;
}
#section2 .intro_wrap .intro_desc {
    width: 45%;
    border-bottom: 1px solid #5f5953;
    font-weight: 300;
}
.intro_desc h3 {
    font-size: 10vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    
}
.intro_desc h3 p {}