@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}
.top_box {
    height: 100vh;
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_box h2 {
    color: #333;
    font-size: 80px;
}



.fix_motion {
    position: relative;
    background-color: #080808;
    /* padding-top: 540px;/ */
}
.fix_motion .tit {
    /* position: absolute; */
    color: #333;
    text-align: center;
    font-size: 200px;
    margin-bottom: 170px;
    /* top: 170px; */
    width: 100%;
    text-align: center;
}


.inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}
.inner>div {
    width: 50%;
}
.inner p {
    color: #333;
}